<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factură</title>
    <style>
        .header-table
        {
            width: 100%;
            border-collapse: collapse;
            border:1px solid black;
        }
        .header-info,
        .header-party
        {
            padding: 0.5em;
            border:1px solid black;
        }
        .header-info
        {
            width: 15%;
            text-align: center;
        }
        .header-buyer
        {
            text-align: right;
        }
        .invoice-lines-table
        {
            margin-top: 1em;
            width: 100%;
            border-collapse: collapse;
            border:1px solid black;
        }
        .invoice-lines-table thead th
        {
            border:1px solid black;
        }
        .invoice-line td
        {
            border:1px solid black;
            text-align: center;
        }
    </style>
</head>
<body>
<!-- HEADER -->
<table class="header-table">
    <tr>
        <td class="header-party header-seller">
            <!-- seller -->
            <div class="header-line header-buyer-line">Furnizor:</div>
            <div class="header-line header-buyer-line">{{ invoice.getAccountingSupplierParty().name }}</div>
            <div class="header-line header-buyer-line">CIF: {{ invoice.getAccountingSupplierParty().getCIF() }}</div>
            <div class="header-line header-buyer-line">Nr. Reg. Com.: {{ invoice.getAccountingSupplierParty().getRegistrationNumber() }}</div>
            <div class="header-line header-buyer-line">Sediu:</div>
            <div class="header-line header-buyer-line">Județul: {{ invoice.getAccountingSupplierParty().postalAddress.getCountyName() }}</div>
            <div class="header-line header-buyer-line">Localitatea: {{ invoice.getAccountingSupplierParty().postalAddress.cityName }}</div>
            {% if invoice.getAccountingSupplierParty().postalAddress.postalZone is defined
                and invoice.getAccountingSupplierParty().postalAddress.postalZone is not empty %}
                <div class="header-line header-buyer-line">Cod poștal: {{ invoice.getAccountingSupplierParty().postalAddress.postalZone }}</div>
            {% endif %}
            <div class="header-line header-buyer-line">Adresa:</div>
            <div class="header-line header-buyer-line">{{ invoice.getAccountingSupplierParty().postalAddress.streetName }}</div>
            {% if invoice.getAccountingSupplierParty().postalAddress.additionalStreetName is defined
                and invoice.getAccountingSupplierParty().postalAddress.additionalStreetName is not empty %}
            <div class="header-line header-buyer-line">{{ invoice.getAccountingSupplierParty().postalAddress.additionalStreetName }}</div>
            {% endif %}
            {% if invoice.hasSupplierAccountInfo() %}
                {% if invoice.paymentMeans.payeeFinancialAccount.name is defined
                    and invoice.paymentMeans.payeeFinancialAccount.name is not empty %}
                    <div class="header-line header-buyer-line">Banca: {{ invoice.paymentMeans.payeeFinancialAccount.name }}</div>
                {% endif %}
                {% if invoice.paymentMeans.payeeFinancialAccount.id is defined
                    and invoice.paymentMeans.payeeFinancialAccount.id is not empty %}
                    <div class="header-line header-buyer-line">Cont: {{ invoice.paymentMeans.payeeFinancialAccount.id }}</div>
                {% endif %}
            {% endif %}
        </td>
        <td class="header-info">
            <div class="header-line header-info-line">Factură:</div>
            <div class="header-line header-info-line">Nr. {{ invoice.getId() }}</div>
            <div class="header-line header-info-line">din</div>
            <div class="header-line header-info-line">{{ invoice.issueDate.format("Y-m-d") }}</div>
            <br>
            <!-- invoice info -->
        </td>
        <td class="header-party header-buyer">
            <!-- buyer -->
            <div class="header-line header-buyer-line">Cumpărător:</div>
            <div class="header-line header-buyer-line">{{ invoice.getAccountingCustomerParty().name }}</div>
            <div class="header-line header-buyer-line">CIF: {{ invoice.getAccountingCustomerParty().getCIF() }}</div>
            <div class="header-line header-buyer-line">Nr. Reg. Com.: {{ invoice.getAccountingCustomerParty().getRegistrationNumber() }}</div>
            <div class="header-line header-buyer-line">Sediu:</div>
            <div class="header-line header-buyer-line">Județul: {{ invoice.getAccountingCustomerParty().postalAddress.getCountyName() }}</div>
            <div class="header-line header-buyer-line">Localitatea: {{ invoice.getAccountingCustomerParty().postalAddress.cityName }}</div>
            {% if invoice.getAccountingCustomerParty().postalAddress.postalZone is defined
                and invoice.getAccountingCustomerParty().postalAddress.postalZone is not empty %}
                <div class="header-line header-buyer-line">Cod poștal: {{ invoice.getAccountingCustomerParty().postalAddress.postalZone }}</div>
            {% endif %}
            <div class="header-line header-buyer-line">Adresa: {{ invoice.getAccountingCustomerParty().postalAddress.streetName }}</div>
            {% if invoice.getAccountingCustomerParty().postalAddress.additionalStreetName is defined
                and invoice.getAccountingCustomerParty().postalAddress.additionalStreetName is not empty %}
            <div class="header-line header-buyer-line">{{ invoice.getAccountingCustomerParty().postalAddress.additionalStreetName }}</div>
            {% endif %}
        </td>
    </tr>
</table>
<!-- END HEADER -->
<!-- INVLOCE LINES -->
<table class="invoice-lines-table">
    <thead>
        <tr class="invoice-header">
            <th>Nr. Crt</th>
            <th>Denumire</th>
            <th>UM</th>
            {% if invoice.hasAnyItemIDs() %}
            <th>Cod</th>
            {% endif %}
            <th>Cotă TVA</th>
            <th>Cantitate</th>
            <th>Preț unitar</th>
            <th>Valoare</th>
            <th>TVA</th>
        </tr>
    </thead>
    {% for line in invoice.invoiceLines %}
        <tr class="invoice-line">
            <td>{{ loop.index }}</td>
            <td>{{ line.item.name }}</td>
            <td>{{ line.getUnitCode() }}</td>
            {% if invoice.hasAnyItemIDs() %}
            <td>{{ line.item.getItemIDs("<br>") }}</td>
            {% endif %}
            <td>{{ line.getVATRate() }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>