<!--
    Copyright [2024] [Tecsi Aron]

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Factură</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body
        {
            margin: 0.5em;
        }
        .header-table
        {
            width: 100%;
            border-collapse: collapse;
            border:1px solid black;
        }
        .header-info,
        .header-party
        {
            padding: 0.5em;
            border:1px solid black;
        }
        .header-info
        {
            width: 15%;
            text-align: center;
        }
        .header-buyer
        {
            text-align: right;
        }
        .invoice-lines-table
        {
            margin-top: 1em;
            width: 100%;
            border-collapse: collapse;
            border:1px solid black;
        }
        .invoice-lines-table thead th
        {
            border:1px solid black;
        }
        .invoice-line td
        {
            border:1px solid black;
            text-align: center;
            padding: 0.2em;
        }

        .invoice-total
        {
            page-break-before: avoid;
            margin-top: 1em;
            text-align: right;
        }

    </style>
</head>
<body>
<!-- HEADER -->
<table class="header-table">
    <tr>
        <td class="header-party header-seller">
            <!-- seller -->
            <div class="header-line header-buyer-line">Furnizor:</div>
            <div class="header-line header-buyer-line">{{ invoice.AccountingSupplierParty.Name }}</div>
            <div class="header-line header-buyer-line">CIF: {{ invoice.AccountingSupplierParty.GetCIF() }}</div>
            <div class="header-line header-buyer-line">Nr. Reg. Com.: {{ invoice.AccountingSupplierParty.GetRegistrationNumber() }}</div>
            <div class="header-line header-buyer-line">Sediu:</div>
            <div class="header-line header-buyer-line">Județul: {{ invoice.AccountingSupplierParty.PostalAddress.GetCountyName() }}</div>
            <div class="header-line header-buyer-line">Localitatea: {{ invoice.AccountingSupplierParty.PostalAddress.CityName }}</div>
            {% if invoice.AccountingSupplierParty.PostalAddress.PostalZone is defined
                and invoice.AccountingSupplierParty.PostalAddress.PostalZone is not empty %}
                <div class="header-line header-buyer-line">Cod poștal: {{ invoice.AccountingSupplierParty.PostalAddress.PostalZone }}</div>
            {% endif %}
            <div class="header-line header-buyer-line">Adresa:</div>
            <div class="header-line header-buyer-line">{{ invoice.AccountingSupplierParty.PostalAddress.StreetName }}</div>
            {% if invoice.AccountingSupplierParty.PostalAddress.AdditionalStreetName is defined
                and invoice.AccountingSupplierParty.PostalAddress.AdditionalStreetName is not empty %}
                <div class="header-line header-buyer-line">{{ invoice.AccountingSupplierParty.PostalAddress.AdditionalStreetName }}</div>
            {% endif %}
            {% if invoice.hasSupplierAccountInfo() %}
                {% if invoice.paymentMeans.payeeFinancialAccount.name is defined
                    and invoice.paymentMeans.payeeFinancialAccount.name is not empty %}
                    <div class="header-line header-buyer-line">Banca: {{ invoice.PaymentMeans.PayeeFinancialAccount.Name }}</div>
                {% endif %}
                {% if invoice.paymentMeans.payeeFinancialAccount.id is defined
                    and invoice.paymentMeans.payeeFinancialAccount.id is not empty %}
                    <div class="header-line header-buyer-line">Cont: {{ invoice.PaymentMeans.PayeeFinancialAccount.ID }}</div>
                {% endif %}
            {% endif %}
        </td>
        <td class="header-info">
            <!-- invoice info -->
            <div class="header-line header-info-line">Factură:</div>
            <div class="header-line header-info-line">Nr. {{ invoice.ID }}</div>
            <div class="header-line header-info-line">din</div>
            <div class="header-line header-info-line">{{ invoice.IssueDate.format("Y-m-d") }}</div>
            {%  if invoice.HasDueDate() %}
                <div class="header-line header-info-line">Scadentă în data de:</div>
                <div class="header-line header-info-line">{{ invoice.GetDueDate().format("Y-m-d") }}</div>
            {% endif %}
        </td>
        <td class="header-party header-buyer">
            <!-- buyer -->
            <div class="header-line header-buyer-line">Cumpărător:</div>
            <div class="header-line header-buyer-line">{{ invoice.AccountingCustomerParty.Name }}</div>
            <div class="header-line header-buyer-line">CIF: {{ invoice.AccountingCustomerParty.GetCIF() }}</div>
            <div class="header-line header-buyer-line">Nr. Reg. Com.: {{ invoice.AccountingCustomerParty.GetRegistrationNumber() }}</div>
            <div class="header-line header-buyer-line">Sediu:</div>
            <div class="header-line header-buyer-line">Județul: {{ invoice.AccountingCustomerParty.PostalAddress.GetCountyName() }}</div>
            <div class="header-line header-buyer-line">Localitatea: {{ invoice.AccountingCustomerParty.PostalAddress.CityName }}</div>
            {% if invoice.AccountingCustomerParty.PostalAddress.PostalZone is defined
                and invoice.AccountingCustomerParty.PostalAddress.PostalZone is not empty %}
                <div class="header-line header-buyer-line">Cod poștal: {{ invoice.AccountingCustomerParty.PostalAddress.PostalZone }}</div>
            {% endif %}
            <div class="header-line header-buyer-line">Adresa: {{ invoice.AccountingCustomerParty.PostalAddress.StreetName }}</div>
            {% if invoice.AccountingCustomerParty.PostalAddress.AdditionalStreetName is defined
                and invoice.AccountingCustomerParty.PostalAddress.AdditionalStreetName is not empty %}
                <div class="header-line header-buyer-line">{{ invoice.AccountingCustomerParty.PostalAddress.AdditionalStreetName }}</div>
            {% endif %}
        </td>
    </tr>
</table>
<!-- END HEADER -->
<!-- INVLOCE LINES -->
<table class="invoice-lines-table">
    <thead>
    <tr class="invoice-header">
        <th>Nr. Crt</th>
        <th>Denumire</th>
        <th>UM</th>
        {% if invoice.HasAnyItemIDs() %}
            <th>Cod</th>
        {% endif %}
        <th>Cotă TVA</th>
        <th>Cantitate</th>
        <th>Preț unitar<br>(fără TVA)</th>
        <th>Valoare<br>(fără TVA)</th>
        <th>TVA<br>(aprox.)</th>
    </tr>
    </thead>
    {# @var line \EdituraEDU\UBLRenderer\UBLObjectDefinitions\InvoiceLine #}
    {% for line in invoice.InvoiceLines %}
        <tr class="invoice-line">
        <td>{{ invoice.GetLineNumber(line) }}</td>
                <td>{{ line.Item.Name }}</td>
                <td>{{ line.GetUnitCode() }}</td>
                {% if invoice.HasAnyItemIDs() %}
                <td>{{ line.GetItemIDs("<br>") }}</td>
                {% endif %}
                <td>{{ line.GetVATRate() }}</td>
                <td>{{ line.InvoicedQuantity }}</td>
                <td>{{ line.GetNoVATUnitValue }}</td>
                <td>{{ line.GetNoVATValue() }}</td>
                <td>{{ line.GetVATValue() }}</td>
            </tr>
            {% if line.HasAllowanceCharges() %}
                {% for allowance in line.AllAllowanceCharges %}
                <tr class="invoice-line">
                    <td><!-- No line number --></td>
                    <td> {{ allowance.ToString() }}</td>
                    <td><!-- No unit code --></td>
                    {% if invoice.HasAnyItemIDs() %}
                    <td><!-- No item ID? --></td>
                    {% endif %}
                    <td><!-- No vat rate --></td>
                    <td><!-- No quantity--></td>
                    <td><!-- No unit price --></td>
                    <td><!-- No value --></td>
                    <td><!-- No vat value--></td>
                </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        {%  if invoice.HasInvoiceLevelAllowanceCharges() %}
            {% for allowance in invoice.AllowanceCharges %}
            <tr class="invoice-line">
                <td><!-- No line number --></td>
                <td> {{ allowance.ToString() }}</td>
                <td><!-- No unit code --></td>
                {% if invoice.HasAnyItemIDs() %}
                <td><!-- No item ID? --></td>
                {% endif %}
                <td><!-- No vat rate --></td>
                <td><!-- No quantity--></td>
                <td><!-- No unit price --></td>
                <td><!-- No value --></td>
                <td><!-- No vat value--></td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
    <div class="invoice-total">
        Total fără TVA: {{ invoice.LegalMonetaryTotal.GetTaxExclusiveAmount() }}<br>
        Total TVA: {{ invoice.TaxTotal.GetAmmount() }}<br>
        Total cu TVA: {{ invoice.LegalMonetaryTotal.GetTaxInclusiveAmount() }}<br>
    </div>
    {%  if invoice.HasNotes() %}
    <div class="invoice-notes">
        <h3>Observații:</h3>
        <ul>
            {% for note in invoice.GetNotes() %}
            <li>{{ note }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if invoice.HasOtherInfo() %}
    <div>
        <h3>Alte informații:</h3>
        <ul>
            {% for info in invoice.GetOtherInfo() %}
            <li>{{ info }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</body>
</html>